<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TNF - Sign in</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <style>
    body {
      width: 100%;
      height: 100%;
      background-color: #26a69a;
      background-size: cover;
      background-attachment:fixed;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    </style>
  </head>
  <body>
    <div id="signin"></div>
    <script src="/bundle.js"></script>
  </body>
</html>
